@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: white;
    color: rgb(15, 15, 15); 
    font-family: 'Lato', sans-serif;
}
.header {
    width: 100%;
    height: 50px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.instagram-logo {
    font-size: 2rem;
    color: rgb(240, 240, 240);
    padding-right: 12px;
}
.instagram-logo:hover {
    color: rgb(230, 230, 11);
    cursor: pointer;
}
.youtube-logo {
    color: rgb(240, 240, 240);
    font-size: 2rem;
    padding-right: 12px;
}
.youtube-logo:hover {
    color: rgb(230, 230, 11);
    cursor: pointer;
}
.facebook-logo {
    color: rgb(240, 240, 240);
    font-size: 2rem;
}
.header-two {
    background: white;
    width: 100%;
    height: 180px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-text {
    background: black;
    width: 120px;
    height: 100px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7rem;
    font-weight: 400;
    line-height: 1;
    position: absolute;
    left: 100px;
    font-family: 'Alumni Sans', sans-serif;
    text-decoration: none;
}
.main-text:hover {
    background: rgb(230, 230, 11);
    color: black;
    cursor: pointer;
}
.main-image {
    background-image: url(middle-picture.PNG);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 650px;
    object-fit: cover;
    background-position: top;
}
.search-glass {
    color: black;
    position: absolute;
    right: 680px;
    font-weight: lighter;
}
.input {
    width: 350px;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font: inherit;
    position: absolute;
    right: 300px;
}
.clothing {
    font-size: 1.1rem;
    padding-right: 30px;
    position: absolute;
    left: 300px;
}
.dildos {
    font-size: 1.1rem;
    padding-right: 30px;
    position: absolute;
    left: 450px;
}
.sex-slaves {
    font-size: 1.1rem;
    padding-right: 30px;
    position: absolute;
    left: 580px;
}
.tuning {
    font-size: 1.1rem;
    padding-right: 30px;
    position: absolute;
    left: 720px;
}
.shopping-cart {
    position: absolute;
    right: 200px;
}
.shopping-cart:hover {
    color: rgb(230, 230, 11);
    cursor: pointer;
}
.cart-text {
    position: absolute;
    right: 195px;
    top: 165px;
}
.middle-line {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.releases {
    left: 200px;
    top: 910px;
    position: absolute;
    font-size: 1.5rem;
}
.second-middle-line {
    top: 970px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
}
.image-one {
    width: 220px;
    position: absolute;
    left: 200px;
    top: 1030px;
}
.image-two {
    width: 220px;
    position: absolute;
    left: 560px;
    top: 1030px;
}
.image-three {
    width: 220px;
    position: absolute;
    left: 860px;
    top: 1030px;
}
.image-four {
    width: 220px;
    position: absolute;
    left: 1160px;
    top: 1030px;
}
.image-five {
    width: 220px;
    position: absolute;
    left: 1460px;
    top: 1030px;
}
button {
    width: 75px;
    height: 25px;
    font: inherit;
    background: transparent;
    outline: nones;
    border: 1px solid black;
    border-radius: 5px;
}
.buy {
    position: absolute;
    left: 230px;
    top: 1300px;
    text-decoration: none;
    color: black;
}
.buy:hover {
    color: rgb(150, 150, 150);
}
.buy-one {
    position: absolute;
    left: 605px;
    top: 1300px;
    text-decoration: none;
    color: black;
}
.buy-one:hover {
    color: rgb(150, 150, 150);
}
.buy-two {
    position: absolute;
    left: 870px;
    top: 1300px;
    text-decoration: none;
    color: black;
}
.buy-two:hover {
    color: rgb(150, 150, 150);
}
.buy-three {
    position: absolute;
    left: 1192px;
    top: 1300px;
    text-decoration: none;
    color: black;
}
.buy-three:hover {
    color: rgb(150, 150, 150);
}
.buy-four {
    position: absolute;
    left: 1495px;
    top: 1300px;
    text-decoration: none;
    color: black;
}
.buy-four:hover {
    color: rgb(150, 150, 150);
}
.right-arrow {
    position: absolute;
    right: 140px;
    top: 1130px;
}
.left-arrow {
    position: absolute;
    left: 140px;
    top: 1130px;
}
.third-middle-line {
    width: 100%;
    position: absolute;
    top: 1350px;
}
.most-popular-text {
    font-size: 1.5rem;
    position: absolute;
    left: 200px;
    top: 1370px;
}
.fourth-middle-line {
    width: 100%;
    top: 1420px;
    position: absolute;
}
i .fas fa-fire-alt {
    padding-left: 100px;
}
.popular-image {
    width: 220px;
    position: absolute;
    left: 200px;
    top: 1470px;
}
.popular-image-one {
    width: 220px;
    position: absolute;
    left: 560px;
    top: 1470px;
}
.popular-image-two {
    width: 220px;
    position: absolute;
    left: 860px;
    top: 1470px;
}
.popular-image-three {
    width: 220px;
    position: absolute;
    left: 1160px;
    top: 1470px;
}
.popular-image-four {
    width: 240px;
    position: absolute;
    left: 1460px;
    top: 1470px;
}
.visit-one {
    position: absolute;
    left: 230px;
    top: 1740px;
    text-decoration: none;
    color: black;
}
.visit-two {
    position: absolute;
    left: 630px;
    top: 1740px;
    text-decoration: none;
    color: black;
}
.visit-three {
    position: absolute;
    left: 910px;
    top: 1740px;
    text-decoration: none;
    color: black;
}
.visit-four {
    position: absolute;
    left: 1200px;
    top: 1740px;
    text-decoration: none;
    color: black;
}
.visit-five {
    position: absolute;
    right: 240px;
    top: 1740px;
    text-decoration: none;
    color: black;
}
.visit-one:hover {
    color: rgb(150, 150, 150);
}
.visit-two:hover {
    color: rgb(150, 150, 150);
}
.visit-three:hover {
    color: rgb(150, 150, 150);
}
.visit-four:hover {
    color: rgb(150, 150, 150);
}
.visit-five:hover {
    color: rgb(150, 150, 150);
}
.fifth-middle-line {
    width: 100%;
    position: absolute;
    top: 1800px;
}
.hoodies {
    position: absolute;
    top: 1860px;
    font-size: 1.5rem;
    left: 300px;
}
.hoodies:hover {
    color: rgb(150, 150, 150);
    cursor: pointer;
    text-decoration: underline black;
}
.pants {
    position: absolute;
    top: 1860px;
    font-size: 1.5rem;
    left: 600px;
}
.pants:hover {
    color: rgb(150, 150, 150);
    cursor: pointer;
    text-decoration: underline black;
}
.caps {
    position: absolute;
    top: 1860px;
    font-size: 1.5rem;
    left: 900px;
}
.caps:hover {
    color: rgb(150, 150, 150);
    cursor: pointer;
    text-decoration: underline black;
}
.glasses {
    position: absolute;
    top: 1860px;
    font-size: 1.5rem;
    left: 1200px;
}
.glasses:hover {
    color: rgb(150, 150, 150);
    cursor: pointer;
    text-decoration: underline black;
}
.stickers {
    position: absolute;
    top: 1860px;
    font-size: 1.5rem;
    left: 1500px;
}
.stickers:hover {
    color: rgb(150, 150, 150);
    cursor: pointer;
    text-decoration: underline black;
}
.hoodie-icon {
    width: 150px;
    position: absolute;
    top: 1920px;
    left: 275px;
}
.pants-icon {
    width: 150px;
    position: absolute;
    top: 1920px;
    left: 565px;
}
.caps-icon {
    width: 150px;
    position: absolute;
    top: 1920px;
    left: 880px;
}
.glasses-icon {
    width: 150px;
    position: absolute;
    top: 1920px;
    left: 1180px;
}
.stickers-icon {
    width: 150px;
    position: absolute;
    top: 1920px;
    left: 1480px;
}
.footer {
    background: black;
    width: 100%;
    height: 300px;
    top: 2150px;
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-footer-text {
    font-size: 2rem;
    top: 50px;
    color: rgb(230, 230, 11);
    position: absolute;
}
.footer p {
    font-size: 1.5rem;
    position: absolute;
}
.contact {
    left: 500px;
}
.contact:hover {
    color: rgb(230, 230, 11);
    cursor: pointer;
}
.about {
    left: 700px;
}
.about:hover {
    color: rgb(230, 230, 11);
    cursor: pointer;
}
.store {
    right: 700px;
}
.store:hover {
    color: rgb(230, 230, 11);
    cursor: pointer;
}
.nigga:hover {
    color: rgb(230, 230, 11);
    cursor: pointer;
}
.who {
    right: 500px;
}
.who:hover {
    color: rgb(230, 230, 11);
    cursor: pointer;
}
.youtube-logo-one {
    bottom: 40px;
    position: absolute;
    left: 850px;
}
.instagram-logo-one {
    bottom: 40px;
    position: absolute;
    right: 850px;
}
.twitter-logo {
    bottom: 40px;
    position: absolute;
}
.youtube-logo-one:hover {
    color: rgb(230, 230, 11);
    cursor: pointer;
}
.instagram-logo-one:hover {
    color: rgb(230, 230, 11);
    cursor: pointer;
}
.twitter-logo:hover {
    color: rgb(230, 230, 11);
    cursor: pointer;
}
.small-text {
    bottom: 5px;
    position: absolute;
    font-size: 1rem;
}