<div class="header">
    <a href="/"><img src="images/logotype.png" class="logo" alt=""></a>
    <ul>
        <li><a class="nav-register" href="/signup">Register</a></li>
        <li><a class="nav-login" href="/login">Login</a></li>
    </ul>
</div>