<form class="signup-form" action="/signup" method="post">
    <h1 class="register-text">Sign up!</h1>
    <label for="f-name">First name</label>
    <input type="text" name="f_name">
    <label for="l-name">Last name</label>
    <input type="text" name="l_name">
    <label for="email">Email</label>
    <input type="text" name="email">
    <label for="personID">Person-ID</label>
    <input type="text" name="personID">
    <label for="password1">Password</label>
    <input type="password" name="password1">
    <label for="password2">Confirm Password</label>
    <input type="password" name="password2">
    <button class="register-btn" type="submit">Send</button>
</form>