@media screen and (min-width: 901px) {
    body {
        background-color: black;
    }
}

@media screen and (max-width: 900px) {
    body {
        background-color: red;
}
}
h1 {
    color: white;
    font-family: sans-serif;
}