<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/afd6aa68df.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="index.html">
                        <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                        <span class="title">Shopping cart</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></span>
                        <span class="title">Payment methods</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <span class="title">Contact us</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-language" aria-hidden="true"></i></span>
                        <span class="title">Language</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
                        <span class="title">Help</span>
                    </a>
                </li>


                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-info" aria-hidden="true"></i></span>
                        <span class="title">About us</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                        <span class="title">Rate us</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                        <span class="title">Account</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="header">
            <img src="web-logo.png" class="logo" alt="" srcset="">
                <div class="search-box">
                    <button class="btn-search"><i class="fas fa-search"></i></button>
                    <input type="text" class="input-search" placeholder="Type to Search...">
                  </div>
            </div>
        </div>
            <div class="sales">
                <div class="Containers">
                  <div class="MessageInfo">1 / 3</div>
                  <img src="bf2042.jpg" class="image1" style="width:100%">
                </div>
              
                <div class="Containers">
                  <div class="MessageInfo">2 / 3</div>
                  <img src="210914_CorsairK65.jpg" style="width:100%">
                </div>
              
                <div class="Containers">
                  <div class="MessageInfo">3 / 3</div>
                  <img src="asus1.jpg" style="width:100%">
                </div>
              
              </div>
              <br>
        <div class="showcase">
            <div class="products">
                <img class="rtxshow" src="nvidia-3090.png" alt="">
                <p class="rtxtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quos totam eaque ducimus sapiente reiciendis itaque quis nihil eum fuga? In porro illo debitis, repellat quaerat voluptatem eveniet cupiditate quo aliquid ut corporis at mollitia voluptate cum, excepturi nulla tenetur vitae, illum non. Impedit iure delectus, velit illum nesciunt aspernatur aliquid earum qui perferendis enim commodi eaque at nostrum molestias, est ipsum ducimus, nam et cumque adipisci. Quia facere at autem earum, nemo mollitia, facilis voluptatibus laborum, libero rerum maxime culpa animi unde? Eos consequatur culpa recusandae quidem maxime non id accusamus aliquid nesciunt. Ea dolore odit dolores molestias quos.</p>
        </div>
    </div>
        <div class="footer">
            <img src="bottom-web.png" class="logosmall" alt="" srcset="">
            <hr>
            <h4 class="footertext">© Electronic-Brain </h4>
        </div>
    </div>
</div>
    <script src="app.js"></script>
</body>
</html>