<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/afd6aa68df.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="logo_trans.png" class="logo" alt="" srcset="">
                <div class="search-box">
                    <button class="btn-search"><i class="fas fa-search"></i></button>
                    <input type="text" class="input-search" placeholder="Type to Search...">
                  </div>
            </div>
        </div>
        <div class="sales"></div>
        <div class="showcase">
            <div class="navigation">
                <ul>
                    <li>
                        <a href="index.html">
                            <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                            <span class="title">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                            <span class="title">Shopping cart</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <span class="title">Contact us</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fa fa-language" aria-hidden="true"></i></span>
                            <span class="title">Language</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
                            <span class="title">Help</span>
                        </a>
                    </li>


                    <li>
                        <a href="#">
                            <span class="icon"><i class="fa fa-info" aria-hidden="true"></i></span>
                            <span class="title">About us</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                            <span class="title">Sign Out</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="products">
                <div class="pro-1">
                    <img src="" alt="" srcset="">
                    <div class="pro-text">
                        <h3>Rubrik</h3>
                    </div>
                </div>
                <div class="pro-2"></div>
                <div class="pro-3"></div>
                <div class="pro-4"></div>
                <div class="pro-5"></div>
                <div class="pro-6"></div>
                <div class="pro-7"></div>
                <div class="pro-8"></div>
                <div class="pro-9"></div>
                <div class="pro-10"></div>
                <div class="pro-11"></div>
                <div class="pro-12"></div>
            </div>
        </div>
        <div class="footer">
            <h4 id="footertext">Copyright ©</h4>
            <p></p>
            <img src="logo_trans.png" class="logosmall" alt="" srcset="">
        </div>
    </div>
</body>
</html>