.parent {
    width: 100%;
    height: 1080px;
    background-image: url(background.jpg);
    background-size: 100%;


}
body {
    margin: 0%;
    background-color: #150211;
}
.parent2 {
    background-color: #150211;
    width: 100%;
    height: 1080px;
    margin-top: -17%;
}
img.logo1 {
    padding-left: 10%;
}
h1 {
    font-family: Reckfield-texture;
    font-weight: lighter;
    text-align: center;
 
    color: white;

}
html {
    scroll-behavior: smooth;
}
nav {
    position: fixed;
    margin-right: 5%;
    margin-top: 0.5%;
}
a {
    font-family: Nexa;
    color: white;
    text-decoration: none;
    margin-right: 15px;

}
.topbarp {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100px;
}
a:hover {
    padding-top: 1%;
}
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    font-family: Nexa;
    color: white;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}
p {
    color: #ffaf00;
    font-family: 'Verlag A', 'Verlag B', "Verlag";
    font-size: xx-large;
    text-align: center;
}
h2 {
    text-align: center;
    color: white;
    font-family: Reckfield-texture;
    font-size: 30px;
    margin-top: 5%;

}
.mySlides {
    display:none;
    margin-top: 7%;
    margin-left: 45%;
    width: 100%;
}
h3 {
    color: #ffaf00;
    font-family: 'Verlag A', 'Verlag B', "Verlag";
    font-size: x-large;
    font-weight: lighter;
    margin-left: 28%;
}
.text {
    margin-left: 50%;
    margin-top: -12.5%;
}
@media screen and (max-width: 800px) {
    .parent {
        width: 100%;
        height: 212px;
    }
    .parent2 {
        height: 400px;
    }
    p {
        font-size: smaller;
    }
    h2 {
        font-size: small;
    }
    .mySlides {
    margin-left: 0.1%;
    width: 400px;
}
}
@media screen and (min-width: 1900px) {
    .parent2 {
        margin-top: -2%;
    }
    .mySlides {
        margin-left: 65%
    }
}
.contacttext {
    margin-top: -4%;
}
h5 {
    color: white;
    font-family: Nexa;
    text-align: center;
}
.ptext {
    font-family: Nexa;
}
.text {
    margin-top: -10%;
}
h3 {
    margin-left: 30%;
}