.parent {
    width: 100%;
    height: 1080px;
    background-image: url(background.jpg);
    background-size: 100%;


}
body {
    margin: 0%;
    background-color: #150211;
}
.parent2 {
    background-color: #150211;
    width: 100%;
    height: 1200px;
    margin-top: -17%;
}
img.logo1 {
    padding-left: 10%;
}
h1 {
    font-family: Reckfield-texture;
    font-weight: lighter;
    text-align: center;
 
    color: white;

}
html {
    scroll-behavior: smooth;
}
nav {
    position: fixed;
    margin-right: 5%;
    margin-top: 0.5%;
}
a {
    font-family: Nexa;
    color: white;
    text-decoration: none;
    margin-right: 15px;

}
.topbarp {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100px;
}
a:hover {
    padding-top: 1%;
}
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    font-family: Nexa;
    color: white;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}
p {
    color: #ffaf00;
    font-family: 'Verlag A', 'Verlag B', "Verlag";
    font-size: xx-large;
    text-align: center;
}
h2 {
    text-align: center;
    color: white;
    font-family: Reckfield-texture;
    font-size: 30px;
    margin-top: 5%;

}
.mySlides {
    display:none;
    margin-top: 7%;
    margin-left: 45%;
    width: 100%;
}
h3 {
    color: #ffaf00;
    font-family: 'Verlag A', 'Verlag B', "Verlag";
    font-size: x-large;
    font-weight: lighter;
    margin-left: 28%;
}
.text {
    margin-left: 50%;
    margin-top: -12.5%;
}
@media screen and (max-width: 800px) {
    .parent {
        width: 100%;
        height: 212px;
    }
    .parent2 {
        height: 400px;
    }
    p {
        font-size: smaller;
    }
    h2 {
        font-size: small;
    }
    .mySlides {
    margin-left: 0.1%;
    width: 400px;
}
}
@media screen and (min-width: 1900px) {
    .parent2 {
        margin-top: -2%;
    }
    .mySlides {
        margin-left: 107%
    }
.contacttext {
    margin-top: 10%;
}
h5 {
    color: white;
    font-family: Nexa;
    text-align: center;
}
.ptext {
    font-family: Nexa;
}
.text {
    margin-top: -10%;
}
h3 {
    margin-left: 30%;
}
}
h5 {
    color: white;
    font-family: Nexa;
    text-align: center;
    margin-top: 33%;
}
.ptext {
    font-family: Nexa;
}
.text {
    margin-top: -10%;
}
h3 {
    margin-left: 30%;
}
button.pc {
    background-color: #ffaf00;
    color: #150211;
    border: none;
    font-family: Nexa;
    width: 200px;
    height: 40px;
    font-size: large;
    margin-left: 38%;
    margin-right: 2%;
    margin-top: -15%;
}
button.pc:hover {
    background-color: white;
}
button.pc:focus {
    border: none;
    outline: none;
}
button.xbox {
    background-color: #ffaf00;
    color: #150211;
    border: none;
    font-family: Nexa;
    width: 200px;
    height: 40px;
    font-size: large;
}
button.xbox:hover {
    background-color: white;
}
button.xbox:focus {
    border: none;
    outline: none;
}
button.ps {
    background-color:#ffaf00;
    color: #150211;
    border: none;
    font-family: Nexa;
    width: 200px;
    height: 40px;
    font-size: large;
    margin-left: 44.2%;
}
button.ps:hover {
    background-color: white;
}
button.ps:focus {
    border: none;
    outline: none;
}
h6 {
    color: #ffaf00;
    letter-spacing: 5px;
    font-size: xx-large;
    text-align: center;
    margin-top: 1%;
}
.pcimg {
    margin-left: -10%;
}
.parent3 {
    background: rgb(21,2,17);
    background: linear-gradient(180deg, rgba(21,2,17,1) 0%, rgba(166,115,68,1) 53%, rgba(255,177,29,1) 100%);
    height: 1500px;
}
.parent4 {
    background-image: url(background2.jpg);
    margin-top: -2%;
    height: 900px;
    object-fit: cover;
    background-size: 100%;
}
img.topbarimg {
    width: 150px;
    margin-top: -6.2%;
}
.rubrik {
    font-size: 70px;
    font-family: Nexa;
    font-weight: bolder;
}
h4 {
    color: white;
    font-family: Nexa;
    text-align: center;
}