<form class="login-form" action="/login" method="post">
    <h1 class="login-text">Log in!</h1>
    <label for="l_email">Email</label>
    <input type="email" name="l_email">
    <label for="l_password">Password</label>
    <input type="password" name="l_password">
    <button class="login-btn" type="submit">Login</button>

</form>